.wrapper
  .registration
    %p.regisration__message 登録が完了しました
    .regisration__message__list
      %ul.regisration__message__list__box
        %li.regisration__message__list__box-link
          = link_to "トップページへ戻る", root_path
        %li.regisration__message__list__box-link
          = link_to "マイページへ戻る", root_path
        %li.regisration__message__list__box-link
          = link_to "出品する", new_item_path