.main-content
  .small-content
    .top-content
      新規会員登録
    .bottom-content 
      .bottom-in-content
        = link_to "#" class: "btn-default btn-mail" do
          = icon('far', 'envelope')
          メールアドレスで登録
