.content:after{
  display: block;
  clear: both;
  content: "";
}
.main-content{
  margin: 40px auto 0;
  width: 1020px;
  .right-content{
    background-color: #eeeeee;
    float: right;
    width: 700px;
    .right-content-profile{
      &__head{
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        line-height: 1.4;
      }    
    }
    .right-content-profile-top-box{
      padding: 72px 16px 24px;
      text-align: center;
      &__name{
        width: 220px;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    .right-content-profile-bottom-box{
      padding: 40px 16px;
      &__text{
        min-height: 216px;
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
        }
      &__btn{
        margin: 16px 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
      }
      }
    }
  
  .left-content{
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    .my-page-bar-list{
      li{
        border-top: 1px solid #eee;
        a{
          position: relative;
          display: block;
          min-height: 48px;
          padding: 16px;
          background: #fff;
          font-size: 14px;
          color: #333;
        }
      }
    }
    .my-page-bar-head{
      margin: 40px 0 0;
    }
  }
}
