.content
  %header.main-header
    %h1
      = link_to "#" do
        = image_tag asset_path("material/logo/logo.png")
    .content-bar
      %ol.small-content-bar
        %li
        %li
        %li
  %div.main-content
  %footer