.main__app-banner
  .main__app-banner__inner
    %h2.main__app-banner__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.main__app-banner__inner__text
      今すぐ無料ダウンロード！
    .main__app-banner__inner__btn
      -# = link_to "APP store"
      -# = link_to "Google"