%header.header
  .header__header-inner
    .header__header-inner__main-header
      %h1.header__header-inner__main-header__icon
        = image_tag 'material/logo/logo.png'
        .header__header-inner__main-header__icon__search-box
    %ul.header__header-inner__left-box
      %li.header__header-inner__left-box__left-item
        カテゴリー
      %li.header__header-inner__left-box__right-item
        ブランド
    %ul.header__header-inner__right-box
      %li.header__header-inner__right-box__left-item
        ログイン
      %li.header__header-inner__right-box__right-item
        新規登録

