.content{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  line-height: 1;
  padding: 0 0 350px;

  .main-header{
    height: 128px;
    text-align: center;
    .main-logo{
      margin: 40px 0 0;
      display: inline-block;
      a{
        width: 185px;
        height: 49px;
        line-height: 49px;
        img{
          width: 185px;
          height: 49px;
        }
      }
    }
  }
  .main-content{
    display:block;
    .small-content{
      width: 700px;
      margin: 0 auto;
      background: #fff;
      .top-content{
        font-size: 22px;
        padding: 32px;
        line-height: 1.5;
        text-align: center;
    
      }
      .bottom-content{
        padding: 24px 16px 40px;
        border-top: 1px solid #f5f5f5;
        .bottom-in-content{
          max-width: 343px;
          margin: 0 auto;
          .btn-mail{
            color: #fff;
            background-color: #ea352d;
            text-decoration: none;
            touch-action: manipulation;
          }
          .btn-facebook{
            margin: 16px 0 0;
            background: #385185;
            color: #fff;
            text-decoration: none;
          }
          .btn-google{
            margin: 16px 0 0;
            background: #fff;
            border: #979797 solid 1px;
            color: #333;
            text-decoration: none;
          }
        }
      }
    }
  }
  .main-footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 40px 0;
    text-align: center;
    ul{
      font-size: 0;
      list-style: none;
      .li-first{
        margin: 0;
        display: inline-block;
        font-size: 12px;
      }
      .li-second{
        font-size: 12px;
        display: inline-block;
        margin: 0 0 0 16px;
      }
      .li-third{
        font-size: 12px;
        display: inline-block;
        margin: 0 0 0 16px;
      }
        a{
          display: block;
          color: #333;
          text-decoration: none;
        }
      
    }
    .footer-logo{
      a{
        display: block;
        color: #333;
        width: 185px;
        height: 49px;
        margin: 40px auto 0;
        text-decoration: none;
      }
      img{
        vertical-align: middle;
        width: 185px;
        height: 49px;
      }
    }
    p{
      margin: 8px 0 0;
    }
  }
}



.btn-default{
  border-radius: 4px;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
