.main-footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__header{
        margin: 0 0 20px;
        font-size: 14px;
        font-weight: bold;
        padding-right: 25px;
      }
      &__about {
        list-style: none;
        &__over-view {
          margin: 0;
          padding: 0;
        }
        &__over-view a{
            display: block;
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
        }
      }
    }
  }
  &__footer-logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    a {
      box-sizing: border-box;
    }
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
  &__copyright {
    font-size: 12px;
  }
}
