.header {
  display: block;
  padding: 0 60px;
  &__header-inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__main-header {
      display: flex;
      align-items: center;
      width: 100%;
      &__icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      &__search-box {
        height: 36px;
        width: 100%;
        &__text {
          display: flex;
          align-items: center;
          position: relative;
          &__input {
            height: 36px;
            width: 100%;
          }
          &__btn {
            display: block;
            background: #3CCACE;
            width: 36px;
            height: 36px;
            text-align: center;
            border-style: none;        
            &__search-btn {
              position: absolute;
              right: 6px;
              bottom: 2px;
            }
          }
        }
      }
    }
    &__category {
      display: flex;
      font-size: 12px;
      a {
        color: #333;
        text-decoration: none;
        line-height: 32px;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-right: 30px;
      }
      &__left-box {
        display: flex;
        list-style: none;
      }
      &__right-box {
        display: flex;
        list-style: none;
        margin-left: auto;
      }
    }
  }
}