.content
  %h1.content__head
    削除が完了しました。
  .content__form
    .content__form__credit
      %button.content__form__credit__btn
        クレジットカード新規登録
    .content__form__mypage
      %button.content__form__mypage__btn
        マイページに戻る